<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Wikipraktika | Taschenrechner - tragbare, handliche elektronische Rechenmaschine</title>

		<!-- KEVIN SCHWEIZERHOF TODO: author, publisher, description, bookmark icon -->

		<link rel="stylesheet" type="text/css" href="styles/styles.css">
	</head>
	<body>
		<header>
			<!-- Kevin Schweizerhof TODO -->

			<h1>Wikipraktika</h1>
		</header>

		<!-- MAXIMILIAM TODO navigation-->
		Kevin Branch


		<main>
			<!-- Schriftgrössenwechsler: optionale Aufgabe -->
			<form id="font-size-form">
				<label for="font-slider">Schriftgrösse</label>
				<input type="range" min="8" max="20" step="1" value="10" title="1" name="font-slider"
					   id="font-slider" />
				<output name="font-size" id="font-size">1</output>
			</form>

			<!-- TODO -->
		</main>

		<!-- TODO -->
	</body>
</html>