<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Wikipraktika | Taschenrechner - tragbare, handliche elektronische Rechenmaschine</title>

		<!-- KEVIN SCHWEIZERHOF TODO: author, publisher, description, bookmark icon -->
		<meta name="author" content="Wikipraktika">
		<meta name="publisher" content="Wikipraktiva">
		<meta name="description" content="Taschenrechner: tragbare, handliche elektronische Rechenmaschine">
		<meta name="keywords" content="Maschine, Rechner, Rechnen, Computer, Taschenrechner" lang="DE">
		<link rel="icon" href="../media/icon-wikipraktika.png" type="image/png">


		<link rel="stylesheet" type="text/css" href="styles/styles.css">
	</head>
	<body>
		<header id="wikiheader">
			<!-- Kevin Schweizerhof TODO -->
			<a href=""><img src="../media/logo-wikipraktika.svg" alt="Logo Wikipraktika" width="100" height="100"/></a>

			<h1>Wikipraktika</h1>
		</header>

		<!-- MAXIMILIAM TODO navigation-->



		<main>
			<!-- Schriftgrössenwechsler: optionale Aufgabe -->
			<form id="font-size-form">
				<label for="font-slider">Schriftgrösse</label>
				<input type="range" min="8" max="20" step="1" value="10" title="1" name="font-slider"
					   id="font-slider" />
				<output name="font-size" id="font-size">1</output>
			</form>

			<!-- TODO -->
		</main>

		<!-- TODO -->
	</body>
</html>