/* reset */
*  {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* document */
body {
	font-size: 1rem;
	font-family: "URW Gothic L", "Helvetica", "Arial", sans-serif;
	margin: 2rem;
	counter-reset: h3;
}

* {
	padding: 0px;
	margin: 0px;
}

#wikiheader{
	padding: 10px;
	height: 70px;
	background-color: RGB(0,96,165);
}

#wikiheader > a > img{
	height: 140%;
	width: auto;
}

figure.calcPic {
    float: left;
	display:table;
	margin:10px;
}



figure.calcPic > figcaption {
    display:table-caption;
    caption-side: bottom;
	color:gray;
	font-size:0.9rem;
}
		
figure.calcPic > figcaption a{
	color:gray;
	text-decoration:none;
	word-wrap:break-word;
}

#scm-margant > img {
	max-width: 15.5em;
}

/* text */

span.blackUnder {
	color:black;
	text-decoration:underline;
}
p{
	margin-bottom: 1rem;
}

#wikiheader > h1{
	display: inline-block;
	vertical-align: top;
	color: white;
	font-size: 3em;
}

small {
	margin-top: 1rem;
	display: block;
}

/*lists*/
nav > dl{
	padding:0.5%;
	width:100%;
	background: rgb(246,246,246);

	border: 2px solid steelblue;
}

dl > dd {
    padding-left:1.5%;
}

nav a[hreflang="fr"]::before{
    background-image: url("../../media/flag-fr.svg");
}
nav a[hreflang="it"]::before{
    background-image: url("../../media/flag-it.svg");
}
dd > a[hreflang="en"]::before{
    background-image: url("../../media/flag-en.svg");
}

nav a[hreflang]::before {
	content: "";
    background-size: cover;
    display: inline-block;
    width: 1.25em;
    height: 0.9em;
    margin-right: 0.2em;
}

/* images */

h2{
	font-size: 2.2rem;
	margin-top: 2.5rem;
	margin-bottom:0.5rem;
	font-weight: 700;
}

h3{
	width: 100%;
	font-size: 1.5rem;
	font-weight: 700;
	border-bottom: solid black thin;
	margin-top: 1.5rem;
	margin-bottom: 1rem;
}

h3:before{
	counter-increment: h3;
	content: counter(h3) " ";
}

h4{
	font-size: 1rem;
	font-weight: bold;
	margin-bottom: 0.5rem;
}


/* lists */



/* table */
table{
    width: 100%;
    height: 60%;
    border-top: 1px solid lightblue;
    border-collapse: collapse;
}
th{
    padding: 1.3%;
}
td{
    border-top: 1px solid lightblue;
    padding: 1.3%;
    text-align: center;
}


/* forms */



#font-size-form {
	float: right;
}
#font-size-form > label, #font-size-form > input, #font-size-form > output {
	display: inline-block;
	vertical-align: middle;
	padding: 0; margin: 0;
}

iframe {
	width: 100%;
	height: calc(52vw - 2rem);
	border: none;
}

#demonstration > figure{
	width: calc(50vw - 2rem);
}