/* reset */
*  {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* document */
body {
	font-size: 1rem;
	font-family: "URW Gothic L", "Helvetica", "Arial", sans-serif;
	margin: 2rem;
}

* {
	padding: 0px;
	margin: 0px;
}

#wikiheader{
	padding: 10px;
	height: 70px;
	background-color: RGB(0,96,165);
}

#wikiheader > a > img{
	height: 140%;
	width: auto;
}

#calc-pic{
	width: 30%;
	float: left;
	margin-right: 2rem;
	margin-bottom: 1rem;
	display:table;
}

/* images */
img{
	width: 70%;
	height: auto;
}

#scm-margant > img {
	max-width: 15.5em;
}

/* text */
p{
	margin-bottom: 1rem;
}

#wikiheader > h1{
	display: inline-block;
	vertical-align: top;
	color: white;
	font-size: 3em;
}

small {
	margin-top: 1rem;
	display: block;
}

/*lists*/
nav > dl{
	padding:0.5%;
	width:100%;
	background: rgb(246,246,246);

	border: 1px solid steelblue;
}

dl > dd {
    padding-left:1.5%;
}

nav a[hreflang="fr"]::before{
    background-image: url("../../media/flag-fr.svg");
}
nav a[hreflang="it"]::before{
    background-image: url("../../media/flag-it.svg");
}
dd > a[hreflang="en"]::before{
    background-image: url("../../media/flag-en.svg");
}

nav a[hreflang]::before {
	content: "";
    background-size: cover;
    display: inline-block;
    width: 1.25em;
    height: 0.9em;
    margin-right: 0.2em;
}

/* images */

h2{
	font-size: 2.2rem;
	margin-top: 2.5rem;
	font-weight: 700;
}

h3{
	width: 100%;
	font-size: 1.5rem;
	font-weight: 700;
	border-bottom: solid black thin;
	margin-top: 1.5rem;
	margin-bottom: 1rem;
}

h3:before{
	counter-increment: h3;
	content: counter(h3) " ";
}

h4{
	font-size: 1rem;
	font-weight: bold;
	margin-bottom: 0.5rem;
}


/* lists */



/* table */



/* forms */



#font-size-form {
	float: right;
}
#font-size-form > label, #font-size-form > input, #font-size-form > output {
	display: inline-block;
	vertical-align: middle;
	padding: 0; margin: 0;
}
