/* reset */
*  {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* document */
body {
	font-size: 1rem;
	font-family: "URW Gothic L", "Helvetica", "Arial", sans-serif;
	margin: 2rem;
	counter-reset: h3;
}

* {
	padding: 0px;
	margin: 0px;
}

#wikiheader{
	padding: 10px;
	height: 70px;
	background-color: RGB(0,96,165);
}

#wikiheader > a > img{
	height: 140%;
	width: auto;
}

/*images*/

video{
	width: 100%;
	height: auto;
	margin-bottom:10px;
}

figcaption {
    caption-side: bottom;
	color:gray;
	font-size:0.9rem;
}
		
figcaption a{
	color:gray;
	text-decoration:none;
	
}

iframe {
    width: 100%;
	border: none;
	display: block;

}

#calculator  {
	height: calc(56.25vw - 2em);
	width: 50%;
	overflow:hidden;

}

#youtube {
	height: calc(56.25vw - 28em);
	overflow:hidden;

}

figure.calcPic {
    float: left;
	display:table;
	margin:10px;
	display:table-caption;
}

figure.calcPic > figcaption {
	display:table-caption;
}



/* text */

p{
	margin-bottom: 1rem;
}

#wikiheader > h1{
	display: inline-block;
	vertical-align: top;
	color: white;
	font-size: 3em;
}

small {
	margin-top: 1rem;
	display: block;
}

article > footer {
    font-size: 1rem;
    font-style: italic;
    padding: 0.3rem;
    border: thin dashed;
    margin-top: 1rem;
}

article > object{
	margin-left: 25%;
	margin-right: 25%;
	width: 50%;
	height: auto;
}

footer > time {
    float: right;
}

span.blackUnder {
	color:black;
	text-decoration:underline;
}


/*lists*/
nav ul{
    list-style-type: none;
}
nav > ul {
    padding: 0.5%;
    background: rgb(246,246,246);
    border: 2px solid steelblue;
}
nav > ul ul{
    padding-left: 1.5%;
}


nav a[hreflang="fr"]::before{
    background-image: url("../../media/flag-fr.svg");
}
nav a[hreflang="it"]::before{
    background-image: url("../../media/flag-it.svg");
}
nav a[hreflang="en"]::before{
    background-image: url("../../media/flag-en.svg");
}

nav a[hreflang]::before {
	content: "";
    background-size: cover;
    display: inline-block;
    width: 1.25em;
    height: 0.9em;
    margin-right: 0.2em;
}

article dl dt {
    color: steelblue;
    font-weight: bold;
    margin-top: 0.7rem;
}

article dl dd:before{
	position:relative;
	right:0.5rem;
	content: "\2316";
    font-size:1.5rem;
	}

article dl dd {

	margin-bottom:-0.5rem;
    margin-left: 2rem;
    display: list-item;
    list-style-type: none;
}

article > dl + div {
    margin-top: 1.5rem;
}

ol {
	margin-bottom:1rem;
}

ol > li {
    list-style-position: inside;
	margin-left: 4rem;
    margin-bottom: 1rem;
}

/* images */

h2{
	font-size: 2.2rem;
	margin-top: 2.5rem;
	margin-bottom:0.5rem;
	font-weight: 700;
}

h3{
	width: 100%;
	font-size: 1.5rem;
	font-weight: 700;
	border-bottom: solid black thin;
	margin-top: 1.5rem;
	margin-bottom: 1rem;
}

h3:before{
	counter-increment: h3;
	content: counter(h3) " ";
}

h4{
	font-size: 1rem;
	font-weight: bold;
	margin-bottom: 0.5rem;
}


/* table */
table{
	width: 100%;
	background: white;
	border-collapse: collapse;
}
table > caption{
	margin: 0.2rem;
}

thead{
	background: RGB(0,96,165);
	color:white;
	border-top: solid black thick;
	border-bottom: solid black thick;
}

th, td {
	padding: 0.5rem;
}

tbody > tr > th {
	text-align: left;
	font-weight: bold;;
}

tbody > tr > td {
	text-align: center;
}

tbody > tr:nth-child(2n) {
	background: rgb(230, 230, 230);
	border-top: solid lightblue medium;
	border-bottom: solid lightblue medium;
}


/*button*/
button {
    background: RGB(0,96,165);
    color: white;
    border-radius: 0.5rem;
    height: 2rem;
    padding: 0 1em;
}

button:hover {
    color: turquoise;
}
button:active {
    background-color: darkblue;
}

input:not([type="radio"]):not([type="checkbox"]), select {
    height: 1.8rem;
}



.search-icon::before {
    background: url("../../media/icon-search.svg") no-repeat center left;
    background-size: 1rem 1rem;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    content: '';
}



/* forms */

label {
    color: grey;
}

input:not([type="radio"]):not([type="checkbox"]):not([type="file"]), select, textarea {
    background: rgb(230, 230, 230);
    border-color: transparent;
    border-bottom: solid black thin;
    margin-bottom: 1.5rem;
}

aside form, aside form input:not([type="file"]):not([type="radio"]):not([type="checkbox"]), textarea, select {
    width: 100%;
}

.gender > span {
	display: block;
    margin-bottom: 1.5rem;
}

.verification > label {
    display: block;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

fieldset {
    padding: 0.5rem;
    border-color: grey;
    border-radius: 1%;
    margin-bottom: 1rem;
}

input:not([type="radio"]):not([type="checkbox"]):not([type="file"]):hover,
input:not([type="radio"]):not([type="checkbox"]):not([type="file"]):active,
input:not([type="radio"]):not([type="checkbox"]):not([type="file"]):focus
{
   color: steelblue;
   border-bottom: solid steelblue medium;
}

input:not(:focus):not(:placeholder-shown):invalid {
    border: 2px solid red;
}

#font-size-form {
	float: right;
}
#font-size-form > label, #font-size-form > input, #font-size-form > output {
	display: inline-block;
	vertical-align: middle;
	padding: 0; margin: 0;
}


#page-footer{
	padding: 1rem;
	margin-top: 2rem;
	border:none;
	background: RGB(0,96,165);
	color:white;
}

#page-footer a{
	margin-top: 1.5rem;
	color:white;
}

#page-footer img {
    height: 5%;
    width: auto;
    margin-left: 0.2rem;
    margin-bottom: 0;
}

address {
    margin-bottom: 1rem;
    font-style: normal;
}