/* reset */
*  {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
	
/* document */
body {
	font-size: 1rem;
	font-family: "URW Gothic L", "Helvetica", "Arial", sans-serif;
}

* {
	padding: 0px;
	margin: 0px;
}

#wikiheader{
	margin: 30px;
	padding: 10px;
	height: 80px;
	background-color: blue;

}

#wikiheader > h1{
	display: inline-block;
	vertical-align: top;
	color: white;
	font-size: 3em;
}

/*lists*/
nav > dl{
	padding:0.5%;
	width:100%;
	background: rgb(246,246,246);
	
	border: 1px solid steelblue;
	
}

dl > dd {
    padding-left:1.5%;
}

nav a[hreflang="fr"]::before{
    background-image: url("../../media/flag-fr.svg");
}
nav a[hreflang="it"]::before{
    background-image: url("../../media/flag-it.svg");
}
dd > a[hreflang="en"]::before{
    background-image: url("../../media/flag-en.svg");
}

nav a[hreflang]::before {
	content: "";
    background-size: cover;
    display: inline-block;
    width: 1.25em;
    height: 0.9em;
    margin-right: 0.2em;
}

/* images */



/* text */



/* lists */



/* table */



/* forms */



#font-size-form {
	float: right;
}
#font-size-form > label, #font-size-form > input, #font-size-form > output {
	display: inline-block;
	vertical-align: middle;
	padding: 0; margin: 0;
}

